/* extra small */
@media(max-width: 575.98px){
    
}

/*  small */
@media(max-width: 767.98px){

}

/*  medium */
@media(max-width:991.98px){

}

/*  large */
@media(max-width:1199.98px){
/* NAVBAR */
nav .container{
    flex-wrap:wrap;
}
nav .brand{
    flex-basis: 80%;
    text-align: left;
}
nav .bars{
    display: block;
    flex-basis: 10%;
    text-align: right;
}
nav .bars button{
    margin-top: 20px;
    padding: 15px;
    background: white;
    border: 2px solid black
}
nav ul{
    display: none;
}
nav .socials{
    flex-basis: 100%;
    justify-content: center;
    margin: 15px 0;
}
nav .socials i{
    padding: 0 5px;
}
header .header-content{
    margin-top: 100px;
}
header .container h1{
    flex-basis: 100%;
    font-size: 40px;
}
header .link{
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
}
header .link a{
    margin-bottom: 10px;
}

/* SUBSCRIBE */
section#subscribe .container{
    flex-wrap: wrap;
    justify-content: center;
}
section#subscribe p{
    font-size: 16px;
}

/* LAST MATCH */
section#match-result h2{
    font-size: 25px;
}
section#match-result .last-result{
    flex-wrap: wrap;
    margin-top: 30px;
}
section#match-result .last-result .result span{
    font-size: 42px;
}
section#match-result .last-result .result p{
    font-size: 12px;
}

/* NEXT MATCH */
section#next-match .container{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
section#next-match .container > span{
    flex-basis: 100%;
    margin: 20px 0;
}
section#next-match .container #match > span{
    flex-basis: 100%;
}
section#next-match .container  > a{
    margin-top: 20px;
}

/* COACH */
section#coach .container{
    flex-wrap: wrap;
}
section#coach .coach-image{
    flex-basis: 100%;
}
section#coach .coach-image img{
    width:100%
}

/* PLAYER  */
section#team .player{
    flex-basis: 100%;
}
section#team .player-image{
    flex-basis: 100%;
    justify-content: center;
}
section#team .player-image img{
    width: 100%;
}

/* GALLERY  */
section#gallery .gallery-container a{
    flex-basis: 100% !important;
}

/* LATEST NEWS  */
section#news .news-container{
    flex-wrap: wrap
}
section#news .news-container .single-news{
    flex-basis: 100%;
    margin-bottom: 20px;
}
section#news .news-container img{
    width: 100%;
}

/* CONTACT US  */
section#contact .container{
    justify-content: center;
}
section#contact .bg-contact{
    height: 300px;
    flex-basis: 100%;
}
section#contact .form-contact{
    flex-basis: 100%;
}
section#contact .form-contact h2{
    font-size: 24px;
}
section#contact .form-contact  form{
    text-align: center;
}
footer .thunder-info{
    flex-basis: 100%;
}
footer .thunder-info .info-socials{
    text-align: center;
}
footer .footer-menu{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.copy .container{
    text-align: center;
}

}